.App-header {
  text-align: center;
}

.App-header {
  background-color: #E01C1C;
  height: 150px;
  padding: 20px;
  color: white;
}

.Search-input {
  font-size: 80%;
  padding: 1px;
  height: 18px;
  width: 500px;

 letter-spacing: 2px;
 text-align: center;
}

.Search-url {
  font-style: italic;
  font-size: 65%;
}

.Search-select{
  font-size: 80%;
  padding: 1px;
  height: 18px;
  width: 200px;

 letter-spacing: 1px;
 text-align: center;
}

.App-intro {
  font-size: large;
}
